/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Build: v1
	Date: 2013/04~20013/05

***********************************************************************************************
		6 O2O平台
		7 Mobile APP
		8 NFC Deal
		9 FAQ
	   10 聯絡我們
	   11 其餘說明頁	
***********************************************************************************************/


/* 6. O2O平台 
-----------------------------------------------------------------------------------------------
===============================================================================================*/




/* 7. Mobile APP
-----------------------------------------------------------------------------------------------
===============================================================================================*/




/* 8. NFC Deal 
-----------------------------------------------------------------------------------------------
===============================================================================================*/




/* 9. FAQ
-----------------------------------------------------------------------------------------------
===============================================================================================*/




/* 10. 聯絡我們
-----------------------------------------------------------------------------------------------
===============================================================================================*/




/* 11. 其餘說明頁
-----------------------------------------------------------------------------------------------
===============================================================================================*/

