/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Build: v1
	Date: 2013/04

***********************************************************************************************
		1 通用
		2 首頁
		    2.1 頁首
			2.2 Banner
			2.3 服務介紹
			2.4 我們的夥伴
			2.5 完美底部佈局
			2.6 頁尾
		3 票卡編輯
		    3.1 票卡選擇
			3.2 票卡編輯	
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	background: url(../images/bg_website.png) repeat-x;
	font-family: Verdana, Geneva, sans-serif/*"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",*/;
	font-size:100%;
	line-height:22px;
	color:#434242}
a:link {text-decoration:none; color:#3074b1}
a:visited {text-decoration:none; color:#9b9c9b}
a:hover {text-decoration:underline; color:#F50}
form{margin:0; padding:0}
image{border:0}
.clean{clear:both}
.hidden{display:none}
.flot-img{ float:right}

/* 2. 首頁 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{display:block; width:994px; margin:0 auto}

/*2.1 頁首---------------------------*/
header{ display:block; width:962px; padding:20px 16px 0 16px;}
header h1 a{
	display:block;
	float:left;
	background:url(../images/logo.png) no-repeat;
	width:227px;
	height:61px;
	text-indent:-9999px;
	margin-top:3px;
	padding-left:15px;}
header h2{ display:none}
#top_right{	display:block; float:right; width:720px}	
#top_login{ font-size:0.813em; text-align:right; color:#376585}
#top_login .btn_addnew, #top_login .btn_login{
	display: inline-block;
	color:#FFF;
	padding:0 15px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px}
#top_login .btn_addnew{ background:#f19092}
#top_login .btn_login{ background:#93a084}
#top_login .btn_addnew:hover, #top_login .btn_login:hover{ background:#3074b1; text-decoration:none}
#top_right nav{ padding-top:18px;}
#top_right nav li{ float:left;}
#top_right nav li .nav_01, #top_right nav li .nav_02, #top_right nav li .nav_03, #top_right nav li .nav_04, #top_right nav li .nav_05, #top_right nav li .nav_06{ display: block; float:left; height:21px; text-indent:-9999px}
#top_right nav li .nav_01{ width:142px; background:url(../images/bg_nav.png) no-repeat}
#top_right nav li .nav_01:hover, #top_right nav li .nav_01.navin{ background:url(../images/bg_nav.png) 0 -21px no-repeat}
#top_right nav li .nav_02{ width:121px; background:url(../images/bg_nav.png) 0 -42px no-repeat}
#top_right nav li .nav_02:hover, #top_right nav li .nav_02.navin{ background:url(../images/bg_nav.png) 0 -63px no-repeat}
#top_right nav li .nav_03{ width:133px; background:url(../images/bg_nav.png) 0 -84px no-repeat}
#top_right nav li .nav_03:hover, #top_right nav li .nav_03.navin{ background:url(../images/bg_nav.png) 0 -105px no-repeat}
#top_right nav li .nav_04{ width:118px; background:url(../images/bg_nav.png) 0 -126px no-repeat}
#top_right nav li .nav_04:hover, #top_right nav li .nav_04.navin{ background:url(../images/bg_nav.png) 0 -147px no-repeat}
#top_right nav li .nav_05{ width:109px; background:url(../images/bg_nav.png) 0 -168px no-repeat}
#top_right nav li .nav_05:hover, #top_right nav li .nav_05.navin{ background:url(../images/bg_nav.png) 0 -189px no-repeat}
#top_right nav li .nav_06{ width:96px; background:url(../images/bg_nav.png) 0 -210px no-repeat}
#top_right nav li .nav_06:hover, #top_right nav li .nav_06.navin{ background:url(../images/bg_nav.png) 0 -231px no-repeat}

/*2.2 Banner---------------------------*/
#mid_block{ display:block; width:962px; padding:49px 16px 0 16px}
#bannerbox{ display:block; position:relative; width:869px; height:374px; margin:0 auto}
#bannerbox h3{ display:none}
#banner_btn{
	display:block;
	position:absolute;
	width:151px;
	height:18px;
	top:380px;
	left:359px;
	z-index:200;
	text-indent:-9999px}
#banner_btn a{
	display:block;
	float:left;
	width:14px;
	height:14px;
	background: url(../images/btn_banner.png) 0 -14px no-repeat;
	margin:0 8px}
#banner_btn a.activeSlide, #banner_btn a:hover{ background: url(../images/btn_banner.png) no-repeat}
#banner_main{
	display:block; 
	position:absolute; 
	width:869px; 
	height:355px; 
	background:#FFF; 
	top:0; 
	left:0; 
	z-index:99; 
	overflow:hidden}
#gray_box{
	display:block; 
	position:absolute; 
	background: url(../images/bg_bannerbox.jpg) no-repeat; 
	width:869px; 
	height:19px; 
	top:355px; 
	left:0}
#social_box{ display:block; width:869px; margin:0 auto}
.btn_fb, .btn_gplus, .btn_twitter{ display:block; float:right}
.btn_gplus, .btn_twitter{ width:70px; margin:0; padding:0}

/*2.3 服務介紹---------------------------*/
#service_box, #partner_box{ display:block; width:962px; margin:0 auto}
#service_box{ margin-top:15px; padding-bottom:45px}
.service_info{
	display:block;
	float:left;
	width:320px;
	background: url(../images/pic_symbol.png) no-repeat;
	padding-left:200px}
.service_info h3, #partner_box h3{ font-size:1.375em; font-weight:normal; color:#3074b1}	
.service_info h3{ padding:10px 0 15px 0}
.service_info p{ font-size:0.75em; color:#8c8b8b; line-height:22px}
.blog_list{
	display:block;
	float:right;
	width:252px;
	background:url(../images/pic_skylock.png) 283px 75px no-repeat;
	padding:48px 150px 0 40px;}
.blog_list li{
	display:block;
	font-size:0.813em;
	line-height:22px;
	padding:0 0 8px 23px;
	background:url(../images/icon_star.png) 0 2px no-repeat}

/*2.4 我們的夥伴---------------------------*/	
#partner_box{padding-bottom:20px}
#partner_box h3{ float:left; padding-left:15px}
.usage_note{ display:block; float:right; width:752px; border-bottom:1px solid #c0c0c0}
.usage_note li{ 
    float:right;
	font-size:0.813em; 
	margin-left:15px;
	padding-left:20px;
	background:url(../images/icon_bluepot.png) 0 5px no-repeat}
.partner_list{ display:block; width:924px; padding:0 19px}
.partner_list li{
	display:block;
	float:left;
	height:80px;
	padding:20px 42px 20px 0}
.partner_list .btn_joinus{
	display:block;
	width:76px;
	background:#f2f3f4;
	padding:20px 0;
	border:2px dashed #305b7b;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center}
.partner_list .btn_joinus:hover{ border:2px dashed #F50; text-decoration:none}			

/*2.5 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:61px}
.clearfix:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;} /* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;} /* End hide from IE-mac */

/*2.6 頁尾--------------------------*/
footer{
	clear:both;
	display:block;
	position: relative;
	width:100%;
	height:61px;
	background:url(../images/bg_footer.jpg) repeat-x;
	margin-top: -61px}
#down_block{ 
    display:block; 
	width:962px; 
	padding:20px 16px 0 16px;
	margin:0 auto; 
	font-size:0.813em;
	color:#656363}
.down_left{ display:block; float:left}
.down_left a, .down_left a:visited{ color:#656363; text-decoration:none}
.down_left a:hover{ text-decoration:underline; color:#F50}
.down_right{ display:block; float:right}
.down_right li{ float:left}

/* 3. 票卡編輯 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#pass_about h3, .editop_left h3{ 
  display:block;
  height:24px;
  text-indent:-9999px}
#pass_about h3{ background:url(../images/bg_page-title.png) no-repeat}
.editop_left h3{ background:url(../images/bg_page-title.png) 0 -24px no-repeat}  
#pass_about p, .editop_left p{ font-size:0.813em; line-height:22px; padding:15px 0 31px 20px}

/*3.1 票卡選擇---------------------------*/
.pass_select, .pass_scope{ display:block; margin:0 auto}
.pass_select{ width:955px}
.pass_select h4, .pass_scope h4{ display:none}
.pass_select li, .pass_scope li{ display:block; float:left}
.pass_select li{width:167px}
.spac-right{ padding-right:30px}
.btn_select{
	display:block;
	width:90px;
	height:36px;
	background:url(../images/btn_select.png) no-repeat;
	margin:10px 0 25px 50px;
	text-indent:-9999px;
	cursor:pointer}
.btn_select:hover{background:url(../images/btn_select.png) 0 -46px no-repeat;}
.pass_scope{
	width:975px;
	margin-bottom:40px;
	background:url(../images/bg_passtype.png) repeat-x;
	border:1px solid #d1d3d3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px}
.pass_scope li{ width:166px}
.pass_scope .line-glay{ border-right:1px solid #d1d3d3; height:280px}
.pass_scope li h5{
	display:block;
	width:167px;
	height:20px; 
	text-indent:-9999px;
	margin:15px auto 25px auto}
.pass_scope .passtitle_01{ background:url(../images/title_passname.png) 58px 0 no-repeat}
.pass_scope .passtitle_02{ background:url(../images/title_passname.png) 72px -20px no-repeat}
.pass_scope .passtitle_03{ background:url(../images/title_passname.png) 75px -40px no-repeat}
.pass_scope .passtitle_04{ background:url(../images/title_passname.png) 62px -60px no-repeat}
.pass_scope .passtitle_05{ background:url(../images/title_passname.png) 62px -80px no-repeat}
.pass_scope li li{ 
   float:none;
   font-size:0.813em;
   line-height:22px;
   color:#376585;
   text-align:center;
   margin:0 15px;
   padding:5px 0;
   border-bottom:1px dashed #cacccc}
/*3.2 票卡編輯---------------------------*/ 
#pass_edit-top{ display:block; width:962px; /*padding-bottom:15px*/}
.editop_left{ display:block; float:left; width:471px; padding-right:10px}
.editop_right{ display:block; float:right; width:471px; padding-left:10px}
.select_in{ 
  display:block; 
  float:left; 
  margin-right:40px;
  padding-right:30px;
  border-right:1px solid #CCC}
.select_other{ display:block; float:left}
.select_in h4, .select_other h4{
  display:block;
  font-size:0.75em; 
  padding:2px 8px; 
  background:#64e7f2;
  font-weight:normal;
  border-radius:5px;
  -moz-border-radius:5px; 
  -webkit-border-radius:5px;
  text-align:center}
.select_in h4{ width:65px}
.select_other h4{ width:100px}
.select_in a{ margin-left:8px}
.select_other li{ float:left; margin-right:20px}
.editop_right a.btn_pass-01, .editop_right a.btn_pass-02, .editop_right a.btn_pass-03, .editop_right a.btn_pass-04, 
.editop_right a.btn_pass-05{ 
   display:block; 
   width:58px; 
   height:63px;
   text-indent:-9999px;
   cursor:pointer;
   margin-top:10px}
.editop_right a.btn_pass-01{background: url(../images/btn_selectother.png) no-repeat}
.editop_right a.btn_pass-01:hover, .editop_right .btn_pass-01.passin{ background: url(../images/btn_selectother.png) -58px 0 no-repeat}
.editop_right a.btn_pass-02{background: url(../images/btn_selectother.png) 0 -63px no-repeat}
.editop_right a.btn_pass-02:hover, .editop_right .btn_pass-02.passin{background: url(../images/btn_selectother.png) -58px -63px no-repeat}
.editop_right a.btn_pass-03{background: url(../images/btn_selectother.png) 0 -126px no-repeat}
.editop_right a.btn_pass-03:hover, .editop_right .btn_pass-03.passin{background: url(../images/btn_selectother.png) -58px -126px no-repeat}
.editop_right a.btn_pass-04{background: url(../images/btn_selectother.png) 0 -189px no-repeat}
.editop_right a.btn_pass-04:hover, .editop_right .btn_pass-04.passin{background: url(../images/btn_selectother.png) -58px -189px no-repeat}
.editop_right a.btn_pass-05{background: url(../images/btn_selectother.png) 0 -252px no-repeat}
.editop_right a.btn_pass-05:hover, .editop_right .btn_pass-05.passin{background: url(../images/btn_selectother.png) -58px -252px no-repeat}

#pass_edit-main{
	display:block;
	width:926px;
	background:#efefef;
	margin-bottom:25px;
	padding:18px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px}
.pass_tools{
	display:block;
	float:left;
	position:relative;
	width:586px;
	padding-right:20px}
.abgne_tab { 
    clear: left;
	display:block;
	width: 586px;
	margin: 10px 0 20px 0;
	background:#FFF}
.tabs{ width: 100%; height:75px; background: url(../images/bg_tabs.png) repeat-x}
.tabs li a{
	display:block;
	float: left;
	width:57px;
	height: 75px;
	text-indent:-9999px;
	overflow: hidden;
	position: relative;
	margin:0 0 -1px 10px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */}
.tabs li .tabicon_01{ background:url(../images/icon_toolbar.png) no-repeat}
.tabs li .tabicon_01:hover, .tabs li.active .tabicon_01{ background:url(../images/icon_toolbar.png) -57px 0 no-repeat}
.tabs li .tabicon_02{ background:url(../images/icon_toolbar.png) 0 -75px no-repeat}
.tabs li .tabicon_02:hover, .tabs li.active .tabicon_02{ background:url(../images/icon_toolbar.png) -57px -75px no-repeat}
.tabs li .tabicon_03{ background:url(../images/icon_toolbar.png) 0 -150px no-repeat}
.tabs li .tabicon_03:hover, .tabs li.active .tabicon_03{ background:url(../images/icon_toolbar.png) -57px -150px no-repeat}
.tabs li .tabicon_04{ background:url(../images/icon_toolbar.png) 0 -225px no-repeat}
.tabs li .tabicon_04:hover, .tabs li.active .tabicon_04{ background:url(../images/icon_toolbar.png) -57px -225px no-repeat}
.tabs li .tabicon_05{background:url(../images/icon_toolbar.png) 0 -300px no-repeat}
.tabs li .tabicon_05:hover, .tabs li.active .tabicon_05{ background:url(../images/icon_toolbar.png) -57px -300px no-repeat}
.tabs li .tabicon_06{background:url(../images/icon_toolbar.png) 0 -375px no-repeat}
.tabs li .tabicon_06:hover, .tabs li.active .tabicon_06{ background:url(../images/icon_toolbar.png) -57px -375px no-repeat}
.tabs li .tabicon_07{background:url(../images/icon_toolbar.png) 0 -450px no-repeat}
.tabs li .tabicon_07:hover, .tabs li.active .tabicon_07{ background:url(../images/icon_toolbar.png) -57px -450px no-repeat}
.tabs li .tabicon_08{background:url(../images/icon_toolbar.png) 0 -525px no-repeat}
.tabs li .tabicon_08:hover, .tabs li.active .tabicon_08{ background:url(../images/icon_toolbar.png) -57px -525px no-repeat}

.tab_container {
	clear: left;
	display:block;
	width: 100%;
	background: #fff;}
.tab_container .tab_content {padding: 20px}
.tab_container .tab_content h4 { font-size:1.25em; color:#7d7c7c; margin-bottom:20px}
.note_bar{
	display:block;
	background: url(../images/icon_alert.png) 10px 4px no-repeat #fdc36e;
	padding:2px 8px;
	font-size:0.813em;
	font-weight:bold;
	color:#555454;
	padding-left:45px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px}
.box_input{
	display:block;
	width:544px;
	border:1px solid #b1b1b1;
	margin:15px auto;
	padding-bottom:20px}
.box_input h5{
	font-size:0.938em;
	color:#7d7c7c;
	margin-bottom:10px;
	padding:8px 0 8px 15px;
	background:#dddddd}
.box_input p{ font-size:0.813em; line-height:22px; padding:0 15px 20px 15px}
.box_input span{
	display:inline-block;
	width:105px; 
	font-size:0.813em; 
	line-height:22px; 
	text-align:right; 
	padding:10px 0 0 15px; 
	font-weight:bold}
.input_value{ margin-bottom:20px}
.box_input .textarea_01, .box_input .textarea_02, .textarea_03{
	font-size:0.813em;
	padding:5px 10px;
	border:1px solid #a7a7a7;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px}
.box_input .textarea_01{ width:50%; margin:0 5px 0 10px;}
.box_input .textarea_02{ width:45%; margin:0 5px 0 10px;}
.textarea_03{ width:60%; margin-left:10px}			
.box_input #file_logo, .box_input #file_Strip{width:54%; margin:0 5px 0 10px;}

.btn_help{
	display:inline-block;
	width:18px;
	height:25px;
	background:url(../images/icon_help.png) 0 3px no-repeat;
	text-indent:-9999px;
	cursor:pointer}
.box_input .sub_note{ display:inline-block; width:50%; font-size:0.688em; color:#999; margin:10px 0 0 125px; line-height:18px}	
#result{ display: block; width:118px; height:118px}	
	
.pass_show{
	display:block;
	position:relative;
	float:right;
	width:320px}
.pass_bg, .pass_mask-01, .pass_mask-02, .pass_mask-03, .pass_mask-04, .pass_mask-05{display:block; width:320px; height:480px}
.pass_bg{ margin-bottom:20px}	
.pass_mask-01{ background:url(../images/phoneframe-coupon.png) no-repeat}
.pass_mask-02{ background:url(../images/phoneframe-event.png) no-repeat}
.pass_mask-03{ background:url(../images/phoneframe-generic.png) no-repeat}
.pass_mask-04{ background:url(../images/phoneframe-boarding.png) no-repeat}
.coupon_top, .coupon_primary, .coupon_secondary, .pass_barcode{ display:block; position:absolute}
.coupon_top{
	width:282px;
	/*height:40px;*/
	top:35px;
	left:15px;
	word-wrap: break-word; 
	/*word-break: break-all;*/
	overflow:hidden}
.coupon_logo, .coupon_top h5{display: block; float:left}
.coupon_top img{ height:35px; padding-right:15px; vertical-align: sub}
.coupon_top h5{ font-size:0.813em; line-height:35px}	
.coupon_primary{
	width:312px;
	height:125px;
	top:80px;
	left:4px;
	overflow:hidden;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow:1px 1px 3px #333333}
.coupon_primary h4, .coupon_primary p{ display:block; position:absolute; z-index:99}
.coupon_primary h4{
	top:20px;
	left:10px; 
    font-size:2.5em; 
	line-height:1em}
.coupon_primary p{ 
    top:80px;
	left:14px;
    font-size:1em}	
.coupon_secondary{
	width:292px;
	top:190px;
	left:4px;
	padding:20px 10px 0}
.coupon_secondary h5, .coupon_secondary p{ font-size:0.813em; line-height:18px}
.coupon_secondary .secondary_01{ 
    display:block; 
	float:left; 
	width:136px; 
	padding-right:10px; 
	overflow:hidden}	
.pass_barcode{
	width:118px;
	height:137px;
	padding:5px 8px;
	top:265px;
	left:91px;
	border:1px solid #a7a7a7; 
	background:#FFF;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px}
.pass_barcode img{}
.pass_barcode p{ 
    display:block;
	width:128px;
	height:22px; 
	font-size:0.75em; 
	color:#666;;
	text-align:center;
	overflow:hidden}	

.btn_save, .btn_distribution{ 
    display:block; 
	float:left; 
	width:147px; 
	height:36px; 
	text-indent:-9999px; 
	cursor:pointer}
.btn_save{ background:url(../images/btn_savesend.png) no-repeat; margin-left:5px}
.btn_save:hover{ background:url(../images/btn_savesend.png) 0 -36px no-repeat}
.btn_distribution{ background:url(../images/btn_savesend.png) 0 -72px no-repeat; margin-left:15px}
.btn_distribution:hover{ background:url(../images/btn_savesend.png) 0 -108px no-repeat}

.box_light{ 
    display:none; 
	width:400px; 
	border:1px solid #09C;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px}
.box_light h3{
	display:block;
	color:#FFF;
	background:#09C;
	padding:10px;
	line-height:20px}	
.mylightbox{ display:block; padding:15px 10px}
.mylightbox h4, .mylightbox input{ display:block; float:left; margin-right:5px}
.mylightbox h4{ font-size:0.938em;}
.mylightbox	p{ clear:both; font-size:0.813em; line-height:22px; padding-left:26px}
.box_light a.btn_blue, .box_light a.btn_blue_02{
	display:block;
	background:#09C;
	font-size:0.938em;
	text-align:center;
	color:#FFF;
	padding:5px 15px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px}
.box_light a.btn_blue{width:20%; margin:15px auto;}
.box_light a.btn_blue_02{ width:35%; float:right; margin:20px 10px 15px}	
.box_light a.btn_blue:hover, .box_light a.btn_blue_02:hover{
	text-decoration:none;
	background:#FDB13B;
	color:#2A4E56}

.tip_coupon-01, .tip_coupon-02, .tip_coupon-03{
	display:block;
	position:absolute;
	z-index:999;
	-moz-border-box-shadow:0 0 12px 8px #FDC36E;
	-webkit-border-box-shadow:0 0 12px 8px #FDC36E;
	box-shadow:0 0 12px 8px #FDC36E}
.tip_coupon-01{ top:80px; left:610px; width:312px; height:125px}
.tip_coupon-02{	top:205px; left:610px; width:312px; height:60px}
.tip_coupon-03{	top:266px; left:699px; width:134px; height:147px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px}
#screenshot{
	display:none;
	position:absolute;
	border:2px solid #3074B1;
	background:#EFEFEF;
	padding:5px;
	z-index:8900}					